html{
	scroll-behavior: smooth;
}

hr.m {
	border-top: solid black;
}

nav {
	font-family: 'Quicksand', sans-serif;
	font-size: large;
	color: #a6acb5;
}

header {
	text-align: center;
	background-color: black;
	color: white;
}

body {
	text-align: center;
	background-color: white;
}

h1 {
	color: black !important;
	font-family: 'Quicksand', sans-serif !important;
}

h2 {
	color: black;
	font-family: 'Quicksand', sans-serif !important;
}

h3 {
	color: black;
	font-family: 'Quicksand', sans-serif !important;
}

h4 {
	color: black;
	font-family: 'Quicksand', sans-serif !important;
}

p {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-weight: 500 !important;
}

li {
	color: black;
}

.mheader {
	font-weight: bold;
}

img.music {
	width: 35%;
	height: auto;
	padding: 0;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #CC0000 !important;
}

button.spotify {
	padding: 1%;
	background-color: #222;
	border: none;
	border-radius: 50vh;
	color: #a6acb5;
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	background-color: white;
}
.topPage {
	background: linear-gradient(rgba(75,75,75,0.5), rgba(215,215,215,0.5)), url('media/bos.jpg') !important;
	background-size: cover !important;
	background-position:center !important;
}
.thumbnail {
	overflow: hidden;
}
.navbar-brand{
	font-size: xx-large;
	color: #a6acb5;
}
.carousel-caption {
	color: black !important;
}
.footer-text {
	color: black !important;
	text-align: center;
}
