body {
	background-image: url("pics/guitar.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: top;
	background-color: LightSkyBlue;
	text-align: center;
}
h1 {
	color: white;
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Bold", sans-serif;
	font-size: 400%;
}
p.subHeader {
	color: white;
	text-align: center;
	font-family: arial;
	text-size: 300%;
}
p {
	color: gray;
	text-align: center;
	padding: 25px;
}

a:link, a:visited {
	color: white;
	padding: 25px;
	border: 3px solid white;
	border-radius: 15px;
	font-family: arial;
	background-color: black;
	font-size: 150%;
}
a:hover {
	opacity: 0.5;
}
a:active {
	font-size: 200%;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	text-align: left;
	margin-bottom: 10px;
}
